#hero-banner {
    background-image: url("assets/images/bg2.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
#banner-text {
    font-size: 15px;
    text-align: center;
    color: white;
    padding-top: 70px;
}
#learnmore {
    text-align: center;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    padding: 10px;
    width: 30px;
    height: 15px;
}

#section-one {
    background-color: #4BB1DC;
    height: 200px;
    width: 100%
}
.col-inline {
    display: inline-block;
    width: 33%;
    margin-top: 17px;
}
.imagewrapper:hover {
    background: #4BB1DC;
    transform: scale(1.1);
    transition: 1.5s;
    opacity: 0.5;
}

.col-inlineone {
    float: left;
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
}
.imagewrapperone img {
    width: 100%;
    height: auto;
    padding: 15px;
}
.grup:after {
    margin-right: 50px;
    clear: both;
    display: block;
    content: " ";
}

.backgroundtwo {
    background-color: #1D2C32;
    height: auto;
    width: 100%;
}
.col-image img:hover {
    transform: scale(1.1);
    transition: 1.5s;
    opacity: 0.5;
}
.col-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.backroundone {
    background-color: #4BB1DC;
    padding: 30px 0px;
    width: 100%
}
.colone-image img {
    width: 100%;
    height: auto;
}
.imagewrapper {
    height: 100px;
    width: 100px;
    margin: auto;
    border: solid #000000 10px;
    border-radius: 50%;
      position: relative;
}
.imagewrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    height: 50px;
    width: 50px;
}

.back-to-top-button{
  color:black;
}

.footer{
  padding-top: 50px;
  text-align: center;}
