#hero-banner {
    background-image: url("assets/images/bg2.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text {
    text-align: center;
    color: white;
    margin: auto;
}
#learnmore {
    text-align: center;
    color: white;
    margin: auto;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    padding: 10px;
    width: 60px;
    height: 20px;
}
#nav {
    text-align: right;
}
#nav a {
    color: white;
    text-decoration: none;
}

.footer-container {text-align: center;}
.back-to-top-button{color:black;}
