.fundal2{
  background: linear-gradient(#2F4F4F, #9370DB);
  height:60px;
  margin: 0;
  width: 100%;
  position: fixed;



}

.fundal3{
background: linear-gradient(#2F4F4F, #9370DB);
color:white;
margin:0;

}
body{ background-color: white;
margin:0;

}
#legend{
margin:0;
font-size:30px;
font-family: monospace;
}
.form input[type="text"],.form input[type="password"],.form input[type="email"]{
width: 400px;
height:30px;
background-color: inherit;
border: 2px solid white;
margin-top: 15px;
margin-bottom: 15px;


}

.form{
      width:50%;
      margin:auto;
      padding-top: 140px;
}
.form input[type="submit"]{
  width: 134px;
  height:40px;
  color:white;

  margin-top: 0px;
  background-color: inherit;
  border: 2px solid white;
}

.form input[type="submit"]:hover {
  background-color: grey;

}

.back-to-top-button{
  color:black;
}

.footer-container{
  padding-top: 50px;
  text-align: center;}
